<div class='um-head'>
	<div class='a1 clearfix'>
		<div class='wode'>我的</div>
		<div class='setting'>
			<span class='glyphicon glyphicon-cog'></span>
		</div>
	</div>
	<div class='a2'>
		<div class='avatar'>
			<img src='/assets/avatar.jpg'/>
		</div>
		<div class='info'>
			<div class='name'>王博</div>
			<div class='phone'>
				<span class='glyphicon glyphicon-phone'></span>
				<label>13219001125</label>
			</div>
		</div>
		<div class='more'>
			<span class='glyphicon glyphicon-menu-right'></span>
		</div>
	</div>
</div> <!-- end um-head -->
<div class='um-shuzhi clearfix'>
	<div class='item'>
		<div class='b1 jifen'>
			<label class='num'>1230</label><label class='danwei'>分</label>
		</div>
		<div class='b2'>积分</div>
	</div>
	<div class='item'>
		<div class='b1 yue'>
			<label class='num'>12.9</label><label class='danwei'>元</label>
		</div>
		<div class='b2'>余额</div>
	</div>
	<div class='item'>
		<div class='b1 djq'>
			<label class='num'>9</label><label class='danwei'>个</label>
		</div>
		<div class='b2'>代金券</div>
	</div>
</div> <!-- end um-shuzhi -->
<div class='border'></div>
<div class='um-column'>
	<div class='icon shoucang'>
		<span class='glyphicon glyphicon-heart'></span>
	</div>
	<div class='name'>我的收藏</div>
</div>
<div class='border'></div>
<div class='um-column'>
	<div class='icon card'>
		<span class='glyphicon glyphicon-credit-card'></span>
	</div>
	<div class='name'>
		<label>皇贵联名卡</label>
		<label class='pull-right'>
			<span class='new'>NEW</span>
			<span class='txt'>免费领百元红包</span>
		</label>
	</div>
</div>
<div class='um-column'>
	<div class='icon tuijian'>
		<span class='glyphicon glyphicon-gift'></span>
	</div>
	<div class='name'>
		<label>推荐有奖</label>
		<label class='pull-right'>
			<span class='txt'>10元现金红包拿不停</span>
		</label>
	</div>
</div>
<div class='um-column'>
	<div class='icon jinbi'>
		<span class='glyphicon glyphicon-briefcase'></span>
	</div>
	<div class='name'>
		<label>金币商城</label>
		<label class='pull-right'>
			<span class='txt'>0元好物在这里</span>
		</label>
	</div>
</div>

