// Place all the styles related to the store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$red: #FF4040;
$cartColor: #436EEE;

.carousel-inner {
	.item {
		img {
			min-height: 235px;
		}
	}
}
.m-tags {
	margin: 10px;
	.m-tag {
		display: inline-block;
		width: 20%;
    padding: 5px;
		float: left;
		img {
			width: 100%;
			min-height: 40px;
		}
		label {
			text-align: center;
			width: 100%;
			font-size: 14px;
			margin: 4px 0;
		}
	}
}

.m-group {
	.m-group-title {
		img {
			display: inline-block;
			float: left;
			margin-left: 8px;
		}
		div {
			font-size: 20px;
			font-weight: bold;
			line-height: 50px;
			margin-left: 8px;
			display: inline-block;
			float: left;
		}
	}
	.m-group-info-wapper {
		width: 100%;
		overflow-x: auto;
	}
	.m-group-info {
		.item {
			display: inline-block;
			float: left;
			width: 50%;
			padding: 10px;
			img {
				width: 100%;
				min-height: 175px;
				border-radius: 10px;
			}
			div {
				text-align: center;
				margin-top: 5px;
				max-height: 20px;
				overflow: hidden;
				white-space: nowrap;
			}
		}
	}
}
.giw-1 {
	width: 50%;
	.item { width: 100%!important; }
}
.giw-2 {
	width: 100%;
	.item { width: 50%!important; }
}
.giw-3 { width: 150%; .item { width: 33.3%!important; } }
.giw-4 { width: 200%; .item { width: 25%!important; } }
.giw-5 { width: 250%; .item { width: 20%!important; } }
.giw-6 { width: 300%; .item { width: 16.66%!important; } }
.giw-7 { width: 350%; .item { width: 14.28%!important; } }
.giw-8 { width: 400%; .item { width: 12.5%!important; } }
.giw-9 { width: 450%; .item { width: 11.1%!important; } }
.giw-10 { width: 500%; .item { width: 10%!important; } }

.show-header {
	position: fixed;
	z-index: 90;
	padding: 5px 8px;
	top: 0;
	left: 0;
	width: 100%;
	background-color: white;
}

.show-search {
	background-color: #DBDBDB;
	border-radius: 10px;
	height: 30px;
	.glyphicon {
		margin-left: 10px;
	}
	input {
		height: 30px;
		background-color: #DBDBDB;
		border: none;
		width: 80%;
	}
}

.show-menu {
	margin-top: 5px;
	height: 30px;
	ul {
		list-style: none;
		overflow: hidden;
		overflow-x: auto;
		white-space: nowrap;
		padding-inline-start: 0;
		padding-left: 0;
		li {
			list-style: none;
			display: inline-block;
			margin-left: 20px;
			&:first-child {
				margin-left: 0;
			}
		}
	}
	.show-menu-type {
    display: inline-block;
    float: left;
    font-size: 18px;
		.glyphicon {
			color: grey;
		}
	}
}

.show-menu-dropdown {
	.menu-item {
		display: flex;
		margin-bottom: 5px;
		font-size: 16px;
		&:last-child {
			margin-bottom: 0;
		}
		.type {
			padding: 2px 4px;
			background-color: lightgrey;
			border-radius: 2px;
		}
		.wapper {
			flex: 1;
			overflow-y: auto;
			.value {
				display: inline-block;
				float: left;
				margin: 0 5px;
				padding: 2px 4px;
				&.active {
					background-color: lightblue;
					border-radius: 2px;
				}
			}
		}
	}
}

.show-items-wrapper {
	padding-bottom: 75px;
}

.show-loading {
	padding: 10px 0;
	text-align: center;
	font-size: 17px;
	img {
		width: 30px;
		height: 30px;
	}
}

.show-items {
	.item {
		display: flex;
		padding: 5px 8px;
		.img {
			width: 100px;
			img {
				width: 100%;
				border-radius: 6px;
			}
		}
		.content {
			flex: 1;
			padding: 0 8px;
			.name {
				font-size: 16px;
				font-weight: bold;
			}
			.star {
				span {
					color: $red;
				}
				label {
					margin-left: 4px;
					font-weight: normal;
				}
			}
			.price-cart {
				display: flex;
				.price {
					color: $red;
					span {
						font-size: 12px;
					}
					s {
						color: #555555;
					}
					label {
						font-size: 16px;
					}
				}
				.cart {
					flex: 1;
					text-align: right;
					padding-right: 8px;
					line-height: 20px;
					.glyphicon {
						color: $cartColor;
						font-size: 20px;
					}
					.num {
						font-size: 15px;
						padding: 0 8px;
					}
					.no-sale {
						background-color: grey;
						color: white;
						font-size: 14px;
						padding: 3px 5px;
						border-radius: 4px;
					}
					.guige {
						background-color: $cartColor;
						color: white;
						font-size: 14px;
						padding: 3px 5px;
						border-radius: 4px;
					}
				}
			}
		}
	}
}
.show-footer {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 90;
	background-color: #E0E0E0;
	width: 100%;
	.holder {
		display: flex;
		width: 100%;
	}
	.menu {
		padding-top: 5px;
		flex: 1;
		text-align: center;
		a {
			color: black;
		}
		label {
			font-weight: normal;
		}
		.glyphicon {
			font-size: 20px;
		}
		.glyphicon-shopping-cart {
			color: $red;
		}
		.glyphicon-user {
			color: $cartColor;
		}
		height: 50px;
	}
	.ensure-cart {
		flex: 2;
		background-color: $red;
		color: white;
		text-align: center;
		font-size: 20px;
		line-height: 50px;
		cursor: pointer;
	}
}
.show-guige {
	position: fixed;
	z-index: 91;
	bottom: 0;
	width: 100%;
	background-color: #f3eed6;
	box-shadow: 0 -5px 3px rgba(0,0,0,.2);
	.a1 {
		padding: 10px;
		.img {
			display: inline-block;
			width: 40%;
			float: left;
			img {
				width: 100%;
				border-radius: 8px;
			}
		}
		.info {
			display: inline-block;
			width: 60%;
			float: left;
			padding: 0 10px 0 20px;
			.name-row {
				display: flex;
				.name {
					flex: 1;
					font-size: 20px;
			    font-weight: bold;
			    max-height: 60px;
    			overflow-y: hidden;
				}
				.close {
					span {
						color: #000000;
					}
				}
			}
			.glyphicon {
					color: $red;
				}
			.sub {
				font-size: 16px;
				span {
					color: $red;
				}
				label {
					font-weight: normal;
				}
			}
			.price {
				font-size: 18px;
				label {
					color: $red;
				}
			}
		}
	}
	.a2 {
		.g-row {
			&:last-child {
				margin-bottom: 10px;
			}
			font-size: 20px;
			padding: 4px 5px;
			.type {
				display: inline-block;
				float: left;
				background-color: lightgrey;
				padding: 0 5px;
				border-radius: 5px;
			}
			.wapper {
				display: inline-block;
				float: left;
				margin: 0 5px;
				.value {
					&.active {
						background-color: #EB7347;
					}
					display: inline-block;
					float: left;
					padding: 0 5px;
					margin: 0 5px;
					border-radius: 5px;
				}
			}
		}
	}
	.a3 {
		margin-bottom: 5px;
		line-height: 45px;
		.cart {
			display: inline-block;
			float: left;
			width: 50%;
			font-size: 25px;
			text-align: center;
			span {
				margin: 0 10px;
			}
			.glyphicon {
				color: $cartColor;
			}
		}
		.gotoCart {
			display: inline-block;
			float: left;
			width: 50%;
			a {
				background-color: $red;
				font-size: 20px;
				color: white;
				display: inline-block;
				width: 100%;
				text-align: center;
			}
		}
	}
}









